<header id="header">
  <a href="<%- url_for("/") %>">
  <% if (theme.logo && theme.logo.enabled) { %>
    <% if (theme.gravatar && theme.gravatar.email && theme.logo.gravatar) { %>
      <div id="logo" style="background-image: url(<%- gravatar(theme.gravatar.email) %>);"></div>
    <% } else { %>
      <div id="logo" style="background-image: url(<%- url_for(theme.logo.url) %>);"></div>
    <% } %>
  <% } %>
    <div id="title">
      <h1><%= config.title %></h1>
    </div>
  </a>
  <div id="nav">
    <ul>
      <li class="icon">
        <a href="#"><i class="fas fa-bars fa-2x"></i></a>
      </li>
      <% for (var i in theme.nav) { %> 
        <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
      <% } %>
    </ul>
  </div>
  <section id="about">
      <% if (config.description) { %>
        <%- markdown(config.description) %>
      <% } %>
      <% if (theme.social_links) { %>
        <p>
          <%= __('index.find_me_on') %>
          <% var nb_links = Object.keys(theme.social_links).length %>
          <% var i = 0 %>
          <% for(var link in theme.social_links) { %>
            <% if (link == 'mail') { %>
              <a class="icon" target="_blank" href="<%- url_for(theme.social_links[link]) %>">
                <i class="fas fa-envelope"></i><!--
          ---></a><!--
          ---><% } else { %>
              <a class="icon" target="_blank" href="<%- url_for(theme.social_links[link]) %>">
                <i class="fab fa-<%= link %>"></i><!--
          ---></a><!--
        ---><% } %><!--
        ---><%= ( nb_links > 0 && i < nb_links-1 ?
                ( i == nb_links-2 ? ' '+__('index.enum_and')+' '
                : __('index.enum_comma')+' ' )
                : '' ) %>
            <% i+=1 %>
          <% } %>
        </p>
      <% } %>
    </section>
</header>
